{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="col-lg-6">
  <h4>{% trans 'Add Staff' %}</h4>

  <form method="post">

    {% csrf_token %}
    <div class="form-group"><label for="id_name">Name</label><input type="text" name="username" maxlength="30" class="form-control" placeholder="First name" title="" id="id_name" /></div>
    <div class="form-group"><label for="id_email">Email</label><input type="email" name="email" class="form-control" placeholder="Email" title="" id="id_email" /></div>
    <div class="form-group"><label for="id_mobile">Mobile No</label><input type="number" name="mobile" class="form-control" placeholder="Mobile No" title="" required id="id_mobile" /></div>
    <!-- <div class="form-group"><label for="id_dob">Date Of Birth</label><input type="date" name="dob" class="form-control" placeholder="Date Of Birth" title="" id="id_dob" /></div> -->
    <!-- <div class="form-group"><label for="id_ani">Date Of Aniversery</label><input type="date" name="ani" class="form-control" placeholder="Date Of Aniversery" title="" id="id_ani" /></div> -->
    <!-- <div class="form-group"><label for="id_area">Area</label><input type="text" name="area" maxlength="255" class="form-control" placeholder="Area" title="" value="{{area}}" id="id_area" /></div> -->
    <!-- <div class="form-group"><label for="id_city">City</label><input type="text" name="city" maxlength="255" class="form-control" placeholder="City" title="" id="id_city" /></div> -->
    <!-- <div class="form-group"><label for="id_subarea">Sub area</label><input type="text" name="subarea" maxlength="255" class="form-control" placeholder="Sub area" title="" id="id_subarea" /></div> -->
    <div class="form-group is-valid"><label for="id_password1">Password</label><input type="password" name="password1" class="form-control is-valid" placeholder="Password" title="Your password can&amp;#39;t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can&amp;#39;t be a commonly used password.Your password can&amp;#39;t be entirely numeric." required id="id_password1" />


    <small class="form-text text-muted"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></small>

</div>
<div class="form-group is-valid"><label for="id_password2">Password confirmation</label><input type="password" name="password2" class="form-control is-valid" placeholder="Password confirmation" title="Enter the same password as before, for verification." required id="id_password2" />


    <small class="form-text text-muted">Enter the same password as before, for verification.</small>
    <br>
    <button class="btn btn-primary">{% trans 'Add' %}</button>

  </form>
</div>
<hr>

{% endblock %}
